html, body {
    margin: 0;
    padding: 0;
}

body { 
    background-image: url(../img/base1-HD_horizontal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main{
    /* background-image: url(../img//base1-HD_horizontal.png);
    width: 100vw;
    height: 100vh;
    position: absolute; */
}
.logo {
    width: 30%;
    display: block;
    margin: auto;
}
img {
    margin-top: 120px;
}
a.btn.btn-primary{
    display: block;
    margin: auto;
    background: transparent;
    border-color: white;
    font-size: 25px;
    margin-top: 50px;
    width: 130px;
}

a.btn.btn-danger {
    width: 165px;
    height: 65px;
    display: block;
    margin: auto;
    background: transparent;
    border-color: white;
    font-size: 14px;
    margin-top: 50px;
    margin-right: 10px;
}
.download {
    display: inline-flex;
    transform: translateX(600px);
    margin-top: 50px;
}

.store {
    font-size: 18px;
    font-weight: 500;
}

.mdi-36px {
    font-size: 38px;
    margin-right: 11px
}

.container {
    margin-top: 150px
}

.font-weight-light {
    font-weight: 300!important;
    font-size: 13px;
}

.appstore {
    font-size: 19px;
    margin-top: 0;
    font-weight: 350;
}

.playstore {
    font-size: 16px;
    margin-top: 0;
    font-weight: 400;
}

.avlb {
    text-align: center;
    color: white;
    transform: translateY(100px);
}

.text {
    text-align: center;
    color: white;
    margin-top: 30px;
}

.social {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: -10px;
}

 /* Para iPhone 5 o superior */
 @media (max-width:768px){
    body { 
        background-image: url(../img/base1-HD_horizontal.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .avlb {
        text-align: center;
        color: white;
        transform: translateY(160px);
        font-size: 16px;
    }
    .download {
        /* width: 95%; */
        /* display: -webkit-box; */
        transform: translateX(35px);
        /* transform: translateY(113px); */
        margin-top: 120px;
    }
    .text {
        text-align: center;
        color: white;
        margin-top: 30px;
        font-size: 13px;
    }

    .logo {
        width: 60%;
        display: block;
        margin: auto;
    }
	
}